---
layout: default
title: Events
---

<div class="events-container">
    <h1 class="event-title">Events</h1>
    
    <h2>Upcoming Events</h2>
    <div class="events-grid">
        {% for event in site.events %}
            {% assign event_date_str = event.date | date: "%Y-%m-%d" %}
            {% assign current_date_str = site.time | date: "%Y-%m-%d" %}
            {% if event_date_str >= current_date_str %}
                <div class="event-card">
                    <div class="row mx-0 event-top-position">
                        <div class="bg-success d-flex justify-content-center col-3 align-items-center flex-column event-date-path" >
                            <h6 class="m-0 text-white font-weight-bold">{{ event.date | date: '%d'}}</h6>
                            <h6 class="m-0 text-white text-uppercase font-weight-bold">{{ event.date | date: '%b' | upcase }}</h6>
                            <h6 class="m-0 text-white text-uppercase font-weight-bold">{{ event.date | date: '%Y' | upcase }}</h6>
                        </div>
                        <div class=" d-flex col-9 p-0 justify-content-center align-items-center">
                            <h5 class="m-0 p-1 event-card-title ">{{event.title}}</h5>
                        </div>
                    </div>
                    <div class="event-item">
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/location.png" alt="location icon"></div>
                            <p class="m-0 col-10 p-0">{{event.location}}</p>
                        </div>
                        <!-- <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/calendar.png" alt="calender icon"></div>
                            <p class="m-0 col-10 p-0">{{ event.date | date_to_string }}</p>
                        </div> -->
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/{{event.mode}}.png" alt="{{event.mode}} icon"></div>
                            <p class="m-0 col-10 p-0 text-capitalize">{{ event.mode }}</p>
                        </div>
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/{{event.category}}.png" alt="{{event.category}} icon"></div>
                        <p class="m-0 col-10 p-0 text-capitalize">{{ event.category }}</p>
                    </div>
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/ticket.png" alt="ticket icon"></div>
                        <p class="m-0 col-10 p-0 text-capitalize">{{ event.type }}</p>
                    </div>
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/deal.png" alt="partner icon"></div>
                            <p class="m-0 col-10 p-0">{{ event.partners }}</p>
                        </div>
                        
                        <hr>
                        <div class="px-2">
                            {% if event.description %}
                            <p class="m-0 ">{{event.description}}</p>
                            {% endif %}
                            <a href="{{ event.url }}">Read more</a>
                            <!-- <a href="{{ event.link }}" target="_blank">Register</a> -->
                        </div>
                        <!-- {{event_day}}
                        <strong>{{ event.title }}</strong><br>
                        Date: {{ event.date | date_to_string }}<br>
                        Location: {{ event.location }}<br>
                        Type: <span class="event-type">{{ event.type }}</span><br>
                        Mode: {{ event.mode }}<br>
                        Partners: {{ event.partners }}<br>
                        Description: {{ event.description }}<br> -->
                       
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <h2>Past Events</h2>
    <div class="events-grid">
        {% for event in site.events %}
            {% assign event_date_str = event.date | date: "%Y-%m-%d" %}
            {% assign current_date_str = site.time | date: "%Y-%m-%d" %}
            {% if event_date_str < current_date_str %}
                <div class="event-card">
                    <div class="row mx-0 event-top-position" >
                        <div class="bg-warning d-flex justify-content-center col-3 align-items-center flex-column event-date-path" >
                            <h6 class="m-0 text-white font-weight-bold">{{ event.date | date: '%d'}}</h6>
                            <h6 class="m-0 text-white text-uppercase font-weight-bold">{{ event.date | date: '%b' | upcase }}</h6>
                            <h6 class="m-0 text-white text-uppercase font-weight-bold">{{ event.date | date: '%Y' | upcase }}</h6>
                        </div>
                        <div class="bg-light d-flex col-9 p-0 justify-content-center align-items-center">
                            <h5 class="m-0 p-1 event-card-title ">{{event.title}}</h5>
                        </div>
                    </div>
                    <div class="event-item">
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0"  src="/images/event/location.png" alt=""></div>
                            <p class="m-0 col-10 p-0">{{event.location}}</p>
                        </div>
                        <!-- <div class="row mx-0 align-items-center" ><div class="col-2  p-0"><img class="event-icons p-0"  src="/images/event/calendar.png" alt=""></div>
                            <p class="m-0 col-10 p-0">{{ event.date | date_to_string }}</p>
                        </div> -->
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0"  src="/images/event/{{event.mode}}.png" alt=""></div>
                            <p class="m-0 col-10 p-0 text-capitalize">{{ event.mode }}</p>
                        </div>
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0"  src="/images/event/{{event.category}}.png" alt=""></div>
                        <p class="m-0 col-10 p-0 text-capitalize">{{ event.category }}</p>
                    </div>
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0"  src="/images/event/ticket.png" alt=""></div>
                        <p class="m-0 col-10 p-0 text-capitalize">{{ event.type }}</p>
                    </div>
                        <div class="row mx-0 align-items-center event-items-grid" ><div class="col-2  p-0"><img class="event-icons p-0"  src="/images/event/deal.png" alt=""></div>
                            <p class="m-0 col-10 p-0">{{ event.partners }}</p>
                        </div>
                        
                        <hr>
                        <div class="px-2">
                            {% if event.description %}
                            <p class="m-0 ">{{event.description}}</p>
                            {% endif %}
                            <a href="{{ event.url }}">Read more</a>
                        </div>
                        <!-- {{event_day}}
                        <strong>{{ event.title }}</strong><br>
                        Date: {{ event.date | date_to_string }}<br>
                        Location: {{ event.location }}<br>
                        Type: <span class="event-type">{{ event.type }}</span><br>
                        Mode: {{ event.mode }}<br>
                        Partners: {{ event.partners }}<br>
                        Description: {{ event.description }}<br> -->
                       
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- <div class="events-grid">
        {% for event in site.events %}
            {% assign event_date_str = event.date | date: "%Y-%m-%d" %}
            {% assign current_date_str = site.time | date: "%Y-%m-%d" %}
    
            {% if event_date_str < current_date_str %}
                <div class="event-item">
                    
                    <strong>{{ event.title }}</strong>
                    Date: {{ event.date | date_to_string }}<br>
                    Location: {{ event.location }}<br>
                    Type: <span class="event-type">{{ event.type }}</span><br>
                    Mode: {{ event.mode }}<br>
                    Partners: {{ event.partners }}<br>
                    Description: {{ event.description }}<br>
                    <a href="{{ event.url }}">Read more</a>
                </div>
            {% endif %}
        {% endfor %}
    </div> -->
</div>

