---
layout: default
title: Publications
---

<div class="publication-container">
    <h1 class="publication-title">Publications</h1>
    
        <div class="publications-grid">
            {% for publication in site.publications %}
                <div class="publication-card">
                    <div class="publication-top-position row m-0 justify-content-center align-items-center">
                        <h5 class="m-0 p-1 publication-card-title">{{publication.name}}</h5>
                    </div>
                    <div class="publication-item">
                        <strong>{{ publication.name }}</strong><br>
                        Authors: <span class="authors">{{ publication.authors }}</span><br>
                        {{ publication.description }}<br>
                        {% if publication.download_link %}
                            <a href="{{ publication.download_link }}" target="_blank">Download</a><br>
                        {% endif %}
                        {% if publication.recording_link %}
                            <a href="{{ publication.recording_link }}" target="_blank">Watch Recording</a><br>
                        {% endif %}
                        {% if publication.event_reference %}
                            Referenced Event: <a href="{{ publication.event_reference }}" target="_blank">Link</a><br>
                        {% endif %}
                        {% if publication.google_slides %}
                            <iframe src="{{ publication.google_slides }}" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe><br>
                        {% endif %}
                        <a href="{{ publication.url }}">Read more</a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

