.content {
  a {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  p {
    font-family: $font-family-base;
    line-height: 1.56;
    color: $steel;
  }
  h1 {
    font-family: $font-family-heading;
    @include media-breakpoint-up(sm) {
      font-size: 34px;
      line-height: 1.26;
    }
    font-weight: bold;
  }
  h2 {
    font-family: $font-family-heading;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 30px;
  }
  h3 {
    font-family: $font-family-heading;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
  }
  ul,
  ol {
    margin-bottom: 20px;
    ul,
    ol {
      margin-bottom: 0;
    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  // li {
  //   margin-bottom: 5px;
  //   line-height: 1.56;
  //   margin-left: 30px;
  //   color: #000000;
  //   &::marker {
  //     font-size: 18px;
  //     text-shadow: 0px 0px 1px #333;
  //   }
  // }


  hr {
    border: none;
    border-bottom: 1px solid $white-offset;
  }
  table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    th,
    td {
      padding: 5px;
      vertical-align: top;
      border-top: 1px solid $white-offset;
    }
    thead th {
      vertical-align: bottom;
      border-bottom: 1px solid $white-offset;
      text-align: left;
      font-weight: bold;
    }
    tbody + tbody {
      border-top: 1px solid $white-offset;
    }
  }
  blockquote {
    padding: 0 1em;
    color: $steel;
    border-left: .25em solid $secondary;
  }
}

ol {
  padding-left: 40px;
  li {
    margin-bottom: 12px;
    line-height: 1.56;
    padding-left: 13px;
    position: relative;
    &::before {
      content: "";
      width: 24px;
      height: 24px;
      border-radius: 5rem;
      position: absolute;
      background: #8595b9;
      z-index: -1;
      left: -24px;
      top: -1px;
    }
    &::marker {
      font-size: 14px;
      text-shadow: 0px 0px 1px #000;
      color: #fff;
    }
  }
  margin-bottom: 20px;
}

.openings {
  background: #f5f5f5;
  padding-top: 20px;
  .card {
    border: 0px;
    @include media-breakpoint-up(md) {
      border-left: solid 6px #f5f5f5;
    }
    border-bottom: solid 2px #f5f5f5;
    border-radius: 0%;
    flex: 0 0 33.33333%;
    .text-muted {
      font-size: 14px;
      min-height: 40px;
    }
    .card-link {
      background: #4584b8;
      padding: 6px 15px;
      border-radius: 20px;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      @include media-breakpoint-up(xl) {
        width: 49%;
      }
      color: #fff;
      margin-left: 0%
    }
  }
}

.quick-link {
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #c5c5c5;
  margin-bottom: 20px;
  .btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.3rem;
  }
}


.hbspot-form {
  background: #f5f5f5;
  padding: 15px;
  @include media-breakpoint-up(lg) {
    padding: 20px 40px;
  }
  input[type=date], input[type=email], input[type=number], input[type=phone], input[type=tel], input[type=text], textarea {
    box-sizing: border-box;
    padding: 0 15px;
    min-height: 27px;
    border: 0;
    background: #fff;
  }
}

.address-info {
  background: #333;
  color: #fff;
  padding: 15px;
  @include media-breakpoint-up(lg) {
    padding: 20px 40px;
  }
  p {
    line-height: 22px;
    color: #afafaf;
    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }
  }
a {
  color: #969696;
  }
  .email-block {
    background-color: #72b6de;
    padding: 10px;
    border-radius: 4px;
    span {
      margin-right: 10px;
    }
    a {
      color: #ffffff;
      }
  }
}

.line-seperator{
  border-bottom: dashed 2px #6b6b6b;
}