.consult-content-wrapper {
  background-color: #f5f5f5 !important;
  
  .service-content-card {
    // border: solid 10px #f5f5f5;

    @include media-breakpoint-up(xl){
      height: 370px;
    }
    @include media-breakpoint-down(lg){
      height: 340px;
    }
    
    box-shadow: 0px 0px 5px #d0d0d0;
    color:#103080;
    padding: 20px 20px;
    @include media-breakpoint-up(lg) {
      padding: 20px 20px;
    }
    &:hover {background: linear-gradient(to left, #61794b 0%, #6bb202 100%);color: #fff;
    .service-content{
      .service-title{
        a{color:#fff;}
      }
    }
    .service-caption{
      color:white;
    }
    }
    .service-caption{
      color:#103080; 
    }
    .service-content {
      padding: 0px 0px;
      @include media-breakpoint-up(md) {
        padding: 0px 0px;
        height: 60px;
      }
      
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .service-title {
        a {
          color: #103080;
          @include media-breakpoint-up(xl) {
            font-size: 35px;
            font-weight: bold;
          }
          @include media-breakpoint-up(lg) {
            max-width: 50%;
            font-size: 32px;
            font-family: ui-sans-serif;
            padding: 0;
          }
          
        }
        
      }
    }
    
  }

  .consult-intro-image {
    width: 50%;
    
    @include media-breakpoint-up(sm) {
      width: 100%;
    }
  }
}





.left-panel {
  background: #f5f5f5;
  position: relative;
  .left-panel-sticky {
    position: sticky;
    top: 100px;
    ul {
      li {
        padding-left: 0;
        list-style-type: none;
        padding: 10px 0px;
        border-bottom: solid 1px #e2e2e2;
        font-size: 14px;
        color: #565656;
      }
    }
  }
}

.service-caption-excellence{
  @include media-breakpoint-up(md){
    font-size: 15px;
  }
}

.content-list-item {
  margin-top: 15px;
  @include media-breakpoint-up(sm) {
  margin-bottom: 30px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px -10px;
    li {
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
      list-style-type: none;
      padding: 25px;
      background: #f5f5f5;
      border: solid 10px #fff;
      margin-top: 0px;
      &:hover {
        background: linear-gradient(to bottom, #0068a5 0%, #003367 100%);
        color: #ffffff !important;
        .icon-serv {
          img {
            filter: contrast(0) brightness(5);
          }
        }
      }
      .icon-serv {
        width: 100%;
        display: inline-block;
        img {
          max-width: 80px;
          margin-bottom: 20px;
          filter: contrast(0) brightness(0);
        }
      }
    }
  }
}

.view-more-button {
  font-size: 9px;
  @include media-breakpoint-up(sm) {
    font-size: 12px;
  }
}

.platform-strategy:hover{
   color:#f5f5f5
}


// engineering
.product_eng_title{
  @include media-breakpoint-up(lg){
      height: 60px;
  }
}

.api-service-title{
  @include media-breakpoint-up(lg){
    height: 100px;
  }
}