.feature {
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 5px #f5e1e7;
  &:hover {
    background: linear-gradient(to bottom, #0068a5 0%, #003367 100%);
    color: #ffffff !important;
    .feature-image {
      img {
        filter: contrast(0) brightness(5);
      }
    }
  }
  .feature-image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-title {
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
  }
}

.icon-lg {
  img {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    text-align: center;
  }
}