html {
  scroll-behavior: smooth;
}

a {
  color: $primary;
}
p {
  line-height: 22px;
  color: $steel;
  font-family: $font-family-base;
  margin-bottom: 20px;
  font-size: 14px;
}
h1 {
  font-size: 20px;
  font-family: $font-family-heading;
  line-height: 1.2;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 1.2;
  }
}
h2 {
  font-size: 24px;
  font-family: $font-family-heading;
  line-height: 1.4;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 1.4;
  }
}
h3 {
  font-size: 16px;
  line-height: 1.4;
  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 1.4;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.section-title {
  color: #1f4e8e;
  @include media-breakpoint-up(sm) {
    font-size: 35px;
  }
  position: relative;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 10px;
  //   left: 0;
  //   display: block;
  //   background-color: #4ba0f7;
  //   top: 3px;
  //   right: unset;
  //   height: unset;
  //   width: 0.35rem;
  // }
}

.view-more-button {
  border-radius: 30px !important;
  padding: 0px 40px 0px 20px!important;
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/images/892528.svg) no-repeat 12px;
    filter: brightness(210) contrast(50);
    background-size: 14px;
  }
}